.root {
  text-align: center;
  padding: 10px;

  h1 {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
  }

  p {
    margin-top: 39px;
    margin-bottom: 184px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
  }

  button {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    color: #4285f4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    width: 50px;
  }
}
